body{
    padding:0;
}
.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: scroll;
    background: white;  
  
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
  transition: all 500ms;
}

.wrapper.active {
  left: 200px;
   
}

.menu {
  width: 100%;
  top: 0;
  border-left: 1px solid #A9A9A9;
  background-color: #680000;
 
    
}
.home{
    float: right;
}
.menu>a {
  padding: 8px;
  color: #eee;
  font-size: 27px;
  line-height: 40px;
  text-indent: 8px;
  text-decoration: none;
  text-shadow: 0 -1px 0 #000;
    display:inline;
    
}
.list-nav{
   background: #680000 ;
    width: 200px;
    min-height: 100%;
}
.nav {
    
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
}

.nav li {
  padding: 0 8px;
  line-height: 20px;  
border-bottom: 1px solid #A9A9A9;

}

.nav li:first-child {
    font-size: 16px;
    padding: 20px;
    padding-bottom: 22px;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav li a:hover{
    background-color: transparent;
}


.nav li:hover{
    background-color: black;
}

.active-li{
	background-color: #400000;
}

.nav li:first-child:hover{
    background-color: transparent;
}

.text-div{
    padding-left: 10px;
}
.discription h4{
    text-align: center;
}
.discription p{
    font-size: 15px;
}
.distrib-table{
    border: 1px solid rgb(230, 218, 218);
}




.image{
     text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: -10px;
}
/*-----------------------------------*/
.menu-list{
    left:50px;
    position: absolute;
    margin: 11px 0 0 -6px;
    padding: 5px 0;
    min-width: 120px;
    border: 1px solid #bdc4c9;
    background: #fff;
    display:block;
    
}

.menu-list .menu-list-arrow-border,.menu-list-arrow{
        left: 13px;
        right: auto;
}
.menu-list-arrow-border{
    border-color: transparent transparent #bdc4c9 transparent;
    border-style: solid;
    border-width: 9px;
    height: 0;
    width: 0;
    position: absolute;
    top: -19px;
}
.menu-list-arrow{

    border-color: transparent transparent #fff transparent;
    border-style: solid;
    border-width: 9px;
    height: 0;
    width: 0;
    position: absolute;
    top: -17px;
}

.menu-list ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu-list a{
    height: 20px;
    line-height: 20px;
    padding: 1px 20px 1px 13px;
    display: block;
    color:black;

}
/*-------------------*/
.tabel-distrib caption{
    text-align: left;
}
.text-list{
    margin:0;
    text-indent:10px;
}

ul#tabs{
    font-weight: bold;
    list-style-type: none;
    border-bottom: 1px solid #bdc4c9;
    margin-bottom: 12px;
}

#tabs li.tab{
    float:left;
    height: 25px;
    margin: 5px 0px 0 2px;
    border-bottom: 1px solid #bdc4c9;
}

#tabs li.tab a{
    float:center;
    display: block;
    text-decoration: none;
}
#tabs li.tab a:hover{
    border-bottom: none;
}

#tabs li.selected-tab{
    border-bottom: 1px solid white;
}